*{
    box-sizing: border-box;
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-shadow: 3px 5px 10px rgb(0, 0, 0) ;
}
/* for mobile */




/* @media screen and (min-width: 800px) { */
        
body{
    margin: 0;
    background-image: url(..//background.jpg);
    background-repeat: no-repeat;
    
}
#appbody{
    background-color: rgba(14, 14, 14, 0.703);
    display: flex;
    flex-direction: column;
    z-index: 1;
}


#navibar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(3, 3, 83);
    /* background-color: rgb(32, 32, 32); */
    background-attachment: fixed;
    height: 40px;
    display: block;
    align-self: center;
    padding-left: 20px;
    padding-top: 7px;
}

#navibar a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 15px;
    padding: 5px;
}
#navibar>a:hover{
    color: rgba(0, 255, 255, 0.911);
    
}
#navibar>a:active{
    color: rgb(49, 49, 49);
}

#location{
    float: left;
    display: block;
    margin-bottom: 20px;
}
#condition{
    float: left;
    margin-top: 5px;
    margin-left: 50px;
}
#condition>div{
    display: block;
    margin-top: 10px;

}
#observation{
    clear: both;
   
}
#atmosphere,#astronomy,#observation{
    border-bottom: 1px dashed white;
    margin-left: 40px ;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* seacrh  for slide button*/ 
.search{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
#scity{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 16px;
    padding-left: 10px;
    text-align: center;
    background-color: transparent;
    border-color: white;
    border-style: solid;

    height: 40px;
    width: 250px;
    
}
#scity:focus-visible {
    /* main offset and width to hide the focus */
    outline-offset: 0;  
    outline-width: 0;
    
    background-color: rgba(14, 14, 14, 0.636);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 3px solid rgb(247, 236, 236);
}

#tap_search{
    background-color: rgba(54, 255, 155, 0.829);
    height: 40px;
    width: 70px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid white;
    
}
#tap_search:hover{
    border: 2px solid rgb(5, 4, 4);
    text-justify: auto;
}
#tap_search:active{
    padding-top: 5px;
    padding-left: 5px;
    background-color: rgba(14, 15, 14, 0.829);
}
/* tooltip */
.tooltip{
   position: relative;
   display: inline-block;
   
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.801);
    color: aliceblue;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: small;

    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}

#city,#city>i{
    font-size: 45px;
}

#city{
    padding-left: 25px;
}
#latlong{
    padding-left: 15px;
}


#latlong{
    margin-top: 0;
    padding-top: 0;
    display: block;
    padding-left: 40px;
}
#country{
    padding-left: 5px;
    padding-top: 10px;
    float: right;
    
}
#temperature{
    font-size: 50px;
}
#timezone,#region{
    padding-top: 7px;
    padding-left: 40px;
}

#detail{
    clear: both;
    margin-left: 40px;
    border-bottom: 1px dashed white;
    padding-bottom: 5px;
}
.obques,.atques,.astques{
    padding-right: 40px;
}

/* background-color: rgba(0, 0, 0, 0.87); */

/* forecast */
#forecastdays{
    flex: 30%;
    margin: 35px;
    
}
#forebody2{
    border-bottom: 1px dashed white;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;

    align-items: center;
}
#forebody2>div{
    font-size: 15px;
    width: 120px;
    
}
#forebody2>#whtext{
    text-align: left;
    display: flex;
   

}
#whtext>i{
    padding-right: 5px;
}

#forebody2>#date{
    text-align: end;
}

#foretitle{
    border-bottom: 1px dashed white;
    padding-bottom: 5px;
}

#bodies1{
    display: flex;

}
#bodies{
    flex: 70%;
}

#footbody{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 13px;
    background-color: rgba(3, 3, 66, 0.958);
    
}

@media screen and (min-height: 610px) {
    #appbody{
        height: 700px;

    }
}

@media screen and (max-width: 600px) {
  
    #appbody{

        display: flex;
        flex-direction: column;
        width: inherit;
        overflow: auto;
        z-index: 1;
       
    }
    #bodies{
        flex: 100%;
    }
    #forecastdays{
        flex: 100%;
    }
    #bodies1{
        display: flex;
        flex-direction: column;
    }
    
    #condition{
       padding-bottom: 20px;
    }
    .obques,.atques,.astques{
        padding-right: 15px;
    }
    .boxes{
        max-width: 80%;
    }
    #detail{
        max-width: 80%;
    }
}



/* } */